<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <nav class="site-nav">
      <a class="page-link" href="{{ site.baseurl }}/">홈</a>
      <a class="page-link" href="{{ '/categories/' | prepend: site.baseurl }}">카테고리</a>
      {% for my_page in site.pages %}
        {% if my_page.subject and my_page.subject != "카테고리" %}
        <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.subject }}</a>
        {% endif %}
      {% endfor %}
    </nav>
  </div>
</header>
