<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="{% if page.subject %}{{ page.subject }}{% elsif page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta itemprop="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<meta itemprop="image" content="{% if page.meta-image %}{{ page.meta-image }}{% else %}{{ site.url }}/images/epilogue.jpg{% endif %}">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ site.title }}">
<meta name="twitter:title" content="{% if page.subject %}{{ page.subject }}{% elsif page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<meta name="twitter:creator" content="dizy64">
<!-- Twitter summary card with large image must be at least 280x150px -->
<meta name="twitter:image:src" content="{% if page.meta-image %}{{ page.meta-image }}{% else %}{{ site.url }}/images/epilogue.jpg{% endif %}">

<!-- Open Graph data -->
<meta property="og:title" content="{% if page.subject %}{{ page.subject }}{% elsif page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
<meta property="og:image" content="{% if page.meta-image %}{{ page.meta-image }}{% else %}{{ site.url }}/images/epilogue.jpg{% endif %}" />
<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="article:published_time" content="{% if page.date %}{{ page.date}}{% else %}{{ Time.now }}{% endif %}" />
<meta property="article:modified_time" content="{% if page.date %}{{ page.date}}{% else %}{{ Time.now }}{% endif %}" />
<!--
<meta property="article:section" content="Article Section" />
<meta property="article:tag" content="Article Tag" />
<meta property="fb:admins" content="Facebook numberic ID" />
-->
