/*
 * Site header
 */

@mixin link-underline {
  a {
    box-shadow: inset 0 -3px 0 #FFD700;
    &:hover {
      text-decoration: none;
    }
  }
}

.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: 56px;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  font-size: 26px;
  font-weight: 800;
  line-height: 56px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}

/**
 * Home
 */
.home {
  .post {
    .post-header {
      margin-bottom: 10px;
      .post-title {
        font-size: 1.6rem;
        font-weight: bold;
        line-height: 1.6;
        word-break: keep-all;
        @include media-query($on-laptop) {
          font-size: 20px;
        }
      }
      .post-subtitle {
        font-size: 0.9rem;
        font-weight: bold;
        word-break: keep-all;
      }
      .post-meta {
        font-size: 0.6rem;
        margin-bottom: 0px;
      }
    }
    .content {
      @include link-underline;
      font-size: 1rem;
      @include media-query($on-laptop) {
        font-size: 14px;
      }
      .more {
        font-weight: bold;
      }
    }
  }
}


/**
 * Posts
 */

.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: bold;
  word-break: keep-all;
}

.post-subtitle {
  margin-top: -10px;
  font-size: 0.9rem;
  font-weight: bold;
  word-break: keep-all;
}

.post-content {
  @include link-underline;
  font-size: $base-font-size + 3px;
  margin-bottom: $spacing-unit;
  font-weight: $base-font-weight;
  @include media-query($on-laptop) {
    font-size: $base-font-size;
    
  }
  line-height: 180%;

  h1, h2, h3, h4, h5, h6 { font-weight: bold }
  h1 { font-size: 1.4rem }
  h2 { font-size: 1.3rem }
  h3 { font-size: 1.2rem; }
  h4, h5, h6 { font-size: 1.1rem }
}

/* Resume */

.resume-page {
  section {
    &#bio, &#experiences {
      margin-top: 30px;
    }
    h1 {
      font-size: 1.3rem;
    }
    h2 {
      &::before {
        content: '-';
        padding-right: 10px;
      }
      font-size: 1.1rem;
      margin-bottom: 5px;
    }
    &#experiences {
      span {
        &.period {
          font-size: 0.7rem;
          color: #999;
          word-break: keep-all;
        }
      }
    }
    &#bio {
      .skill {
        ul > li > ul > li {
          display: inline-block;
          padding: 0 5px;
          background-color: #EEE;
          line-height: 150%;
        }
      }
    }
  }
}

.highlighter-rouge .highlight {
    background: #fff;
}
